
Class {{ class_name }}
=========================================


.. py:currentmodule:: gi.repository.{{ namespace }}

.. autoclass:: {{ class_name }}

   {{ docstring(class_name) | rstify | indent(3) }}

{% set depr, version, doc = deprecated(class_name) %}
{% if depr %}
   .. deprecated:: {{ version }} {{ doc | rstify | indent(6) }}
{% endif %}

{% set version = since(class_name) %}
{% if version %}
   .. versionadded:: {{ version }}
{% endif %}

{% if fields %}
   Fields
   ------
{% endif %}
   
{% for name, doc in fields %}
   .. autoproperty:: {{ name }}

{% endfor %}

{% if methods %}
   Methods
   -------
{% endif %}
   
{% for autodoc, method_name, doc in methods %}
   {% if autodoc %}
   .. automethod:: {{ method_name }}
   {% else %}
   .. method:: {{ method_name }}
   {% endif %}

      {{ doc | rstify | indent(6) }}

{% endfor %}

{% if virtual_methods %}
   Virtual Methods
   ---------------
{% endif %}

{% for method_name, doc in virtual_methods %}
   .. method:: {{ method_name }}

      {{ doc | rstify | indent(6) }}

{% endfor %}

{#

 parent types
 subtypes
 fields
 methods
 properties
 signals
 virtual methods
#}