
Class {{ class_name }}
=========================================


.. py:currentmodule:: gi.repository.{{ namespace }}

.. class:: {{ class_name }}

   {{ docstring(class_name) | rstify | indent(3) }}

{% set depr, version, doc = deprecated(class_name) %}
{% if depr %}
   .. deprecated:: {{ version }} {{ doc | rstify | indent(6) }}
{% endif %}

{% set version = since(class_name) %}
{% if version %}
   .. versionadded:: {{ version }}
{% endif %}

{% if fields %}
   Fields
   ------
{% endif %}
   
{% for name, doc in fields %}
   .. attribute:: {{ name }}

   {{ doc | rstify | indent(3)}}
{% endfor %}

{% if methods %}
   Methods
   -------
{% endif %}

{% for method_name, signature, method_doc, parameters, return_doc in methods %}
   .. method:: {{ method_name }}{{ signature }}

      {% for name, doc in parameters %}
      :param {{ name }}: {{ doc | rstify | indent(9) }}
      {% endfor %}
      {% if return_doc %}
      :return: {{ return_doc | rstify | indent(9) }}
      {% endif %}

      {{ method_doc | rstify | indent(6) }}

{% endfor %}

{% if properties %}
   Properties
   ----------
{% endif %}

{% for name, type, doc in properties %}
   .. attribute:: {{ name }}
      :type: {{ type }}

      {{ doc | rstify | indent(6) }}

{% endfor %}

{% if virtual_methods %}
   Virtual Methods
   ---------------
{% endif %}

{% for method_name, signature, method_doc, parameters, return_doc in virtual_methods %}
   .. method:: {{ method_name }}{{ signature }}
   
      {% for name, doc in parameters %}
      :param {{ name }}: {{ doc | rstify | indent(9) }}
      {% endfor %}
      {% if return_doc %}
      :return: {{ return_doc | rstify | indent(9) }}
      {% endif %}

      {{ doc | rstify | indent(6) }}

{% endfor %}

{#

 parent types
 subtypes
 fields
 methods
 properties
 signals
 virtual methods
#}