Functions
=========

.. py:currentmodule:: gi.repository.{{ namespace }}

{% for function in functions %}

.. autofunction:: {{ function }}

{% for name, doc in parameter_docs(function) %}
   :param {{ name }}: {{ doc | rstify | indent(6) }}
{% endfor %}
   :return: {{ return_doc(function) | rstify | indent(6) }}

{{ docstring(function) | rstify | indent(3, True) }}

{% set depr, version, doc = deprecated(function) %}
{% if depr %}
   .. deprecated:: {{ version }} {{ doc | rstify | indent(6) }}
{% endif %}

{% set version = since(function) %}
{% if version %}
   .. versionadded:: {{ version }}
{% endif %}

{% endfor %}