Functions
=========

.. py:currentmodule:: gi.repository.{{ namespace }}

{% for function in functions %}

.. autofunction:: {{ function }}

{% for name, doc in parameter_docs(function) %}
   :param {{ name }}: {{ doc | indent(6) }}
{% endfor %}
   :return: {{ return_doc(function) | indent(6) }}

{{ docstring(function) | indent(3, True) }}

{% endfor %}