{{ namespace }}
===================================================

.. module:: ~gi.repository.{{ namespace }}

version: {{ version }}

C API documentation: ...

Dependencies: 

{% for dep in dependencies %}
*  :doc:`{{ dep }} <{% if dep == "cairo-1.0" %}https://pycairo.readthedocs.io/{% else %}../{{ dep }}/index{% endif %}>`
{% endfor%}

.. toctree::
   :maxdepth: 1
   :caption: Contents:

   {% if classes %}
   classes
   {% endif %}
   {% if interfaces %}
   interfaces
   {% endif %}
   {% if structures %}
   structures
   {% endif %}
   {% if unions %}
   unions
   {% endif %}
   {% if enums %}
   enums
   {% endif %}
   {% if functions %}
   functions
   {% endif %}
   {% if constants %}
   constants
   {% endif %}
