{{ namespace }}
===================================================

.. module:: ~gi.repository.{{ namespace }}

version: {{ version }}

C API documentation: ...

Dependencies: 

{% for dep in dependencies %}
*  :doc:`{{ dep }} <../{{ dep }}/index>`
{% endfor%}

.. toctree::
   :maxdepth: 1
   :caption: Contents:

   {% if classes %}
   classes
   {% endif %}
   {% if interfaces %}
   interfaces
   {% endif %}
   {% if structures %}
   structures
   {% endif %}
   {% if unions %}
   unions
   {% endif %}
   {% if bitfields %}
   bitfields
   {% endif %}
   {% if functions %}
   functions
   {% endif %}
   {% if constants %}
   constants
   {% endif %}
