{{ namespace}}
===================================================

version: {{ version }}

C API documentation: ...

Dependencies: 

{% for dep in dependencies %}
*  :doc:`{{ dep }} <../{{ dep }}/index>`
{% endfor%}

.. toctree::
   :maxdepth: 1
   :caption: Contents:

   classes
   interfaces
   structures
   unions
   bitfields
   functions
   constants