Welcome to PyGObject API Reference's documentation
==================================================

.. toctree::
   :maxdepth: 1
   :caption: Contents:
   :glob:

   */index

Indices and tables
==================

* :ref:`genindex`
* :ref:`search`
