Welcome to GNOME Python API documentation
==================================================

Also known as: PyGObject API docs.

Libraries:

.. toctree::
   :maxdepth: 1
   :glob:

   */index

Indices and tables:

* :ref:`genindex`
* :ref:`search`


* `PyGObject Guide <https://rafaelmardojai.pages.gitlab.gnome.org/pygobject-guide/>`_
* `PyGObject Docs <https://pygobject.readthedocs.io/en/latest/>`_